body{
  background-image: url('./wallpaper2.jpg');
}

section {
  display: flex;
  flex-direction: column;
}
.compte{
  background-image: url('./background2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  color: rgb(78, 255, 101);
}

#wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

img {
  margin: 2em;
  border-radius: 50%;
  /* max-width: 75px; */
  width: 18em;
  height: 16em;
  border: 2px solid rgb(78, 255, 101);
}
