@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

footer{
  width: 100vw;
  padding: 1em;
  background-color: rgb(78, 255, 101);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
}